// Add any font imports or definitions here
@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/ProductSans/ProductSans-Regular.ttf") format('ttf'), url("../fonts/ProductSans/ProductSans-Regular.woff") format('woff');
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/ProductSans/ProductSans-Regular.ttf") format('ttf'), url("../fonts/ProductSans/ProductSans-Regular.woff") format('woff');
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/ProductSans/ProductSans-Medium.ttf") format('ttf'), url("../fonts/ProductSans/ProductSans-Medium.woff") format('woff');
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/ProductSans/ProductSans-Medium.ttf") format('ttf'), url("../fonts/ProductSans/ProductSans-Medium.woff") format('woff');
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/ProductSans/ProductSans-Medium.ttf") format('ttf'), url("../fonts/ProductSans/ProductSans-Medium.woff") format('woff');
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 300;
  src: url("../fonts/HacenTunisia/HacenTunisiaLt.ttf") format('ttf'), url("../fonts/HacenTunisia/HacenTunisiaLt.woff") format('woff');
  unicode-range: U+00A9, U+00AE, U+0600-06FF, U+FE70-FEFC;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 400;
  src: url("../fonts/HacenTunisia/HacenTunisiaLt.ttf") format('ttf'), url("../fonts/HacenTunisia/HacenTunisiaLt.woff") format('woff');
  unicode-range: U+00A9, U+00AE, U+0600-06FF, U+FE70-FEFC;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 500;
  src: url("../fonts/HacenTunisia/HacenTunisia.ttf") format('ttf'), url("../fonts/HacenTunisia/HacenTunisia.woff") format('woff');
  unicode-range: U+00A9, U+00AE, U+0600-06FF, U+FE70-FEFC;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 600;
  src: url("../fonts/HacenTunisia/HacenTunisia.ttf") format('ttf'), url("../fonts/HacenTunisia/HacenTunisia.woff") format('woff');
  unicode-range: U+00A9, U+00AE, U+0600-06FF, U+FE70-FEFC;
}

@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 700;
  src: url("../fonts/HacenTunisia/HacenTunisia.ttf") format('ttf'), url("../fonts/HacenTunisia/HacenTunisia.woff") format('woff');
  unicode-range: U+00A9, U+00AE, U+0600-06FF, U+FE70-FEFC;
}

*{
  font-family: 'Product Sans', 'Courier New', Courier, sans-serif;
}