// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

$theme-color: #ed752b;
$brand: $theme-color;
$primary: $theme-color;